/* ==========================================
   1. FONTS & GRUNDEINSTELLUNGEN
========================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,800&display=swap');

:root {
    --develey-green: rgb(0, 119, 52);
    --develey-yellow: rgb(255, 200, 46);
    --skew-angle: -2deg; 
    --container-width-desktop: 70vw; 
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/* LOGA CONTAINER RESETS */
.BW-WebPositionPage {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent;
    overflow: visible !important;
}

/* Sicherstellen, dass auch der innere Loga-Container Platz macht */
.BW-MainPanel {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* ==========================================
   2. HEADER BILD (Vollbild)
========================================== */
.header-wrapper {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-top: -20px;
    z-index: 1; 
}

.header-wrapper img.header-bg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding-bottom: 10vw; 
}


/* ==========================================
   3. MAIN CONTAINER (Zentriert & Angeschrägt)
========================================== */

.main-column {
    position: relative;
    z-index: 10;
    
    width: var(--container-width-desktop);
    
    /* ZENTRIERUNG (Der Fix, der funktioniert hat) */
    left: 50%;
    transform: translateX(-50%) skewY(var(--skew-angle));
    transform-origin: center center;
    
    margin-top: -12vw; 
    margin-bottom: 50px;
    
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}


/* ==========================================
   4. SECTIONS
========================================== */

.skew-section {
    position: relative;
    padding: 45px 0; /* Etwas mehr Platz vertikal für die großen Schriften */
}

.bg-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.bg-green {
    background-color: var(--develey-green);
    color: rgb(255, 255, 255);
}

.bg-yellow {
    background-color: var(--develey-yellow);
    color: rgb(0, 0, 0);
}

.skew-section.first {
    padding-top: 70px; 
}


/* ==========================================
   5. TEXT CONTENT
========================================== */

.content-inner {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    
    /* Text gerade rücken */
    transform: skewY(calc(var(--skew-angle) * -1));
    
    text-align: left;
    box-sizing: border-box;
    
    /* Abstand zum Rand (wie gewünscht nah dran) */
    padding: 0 30px; 
}

/* Farben in grüner Box */
.bg-green .content-inner h1,
.bg-green .content-inner h2,
.bg-green .content-inner p,
.bg-green .content-inner li {
    color: rgb(255, 255, 255) !important;
    -webkit-text-stroke: 0px !important;
}


/* ==========================================
   6. TYPOGRAFIE (JETZT DEUTLICH GRÖSSER)
========================================== */

/* Die kleine Zeile oben drüber */
.intro-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.35rem; /* War 1.1rem */
    color: rgb(51, 51, 51);
    margin-bottom: 0.5rem;
    display: block;
}

/* Hauptüberschrift (Jobtitel) */
h1 {
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 800;
    
    font-size: 4rem; /* War 3rem -> Jetzt riesig */
    line-height: 1.05; /* Enger Zeilenabstand für kompakten Look */
    
    color: var(--develey-green);
    text-transform: none;
    margin-top: 0;
    margin-bottom: 1.5rem;
    -webkit-text-stroke: 1px var(--develey-green);
}

/* Zwischenüberschriften (Mission, Profil etc.) */
h2 {
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 700;
    
    font-size: 2.5rem; /* War 1.8rem */
    
    margin-bottom: 1.2rem;
    margin-top: 0;
}

/* Fließtext und Listen */
p, li {
    font-size: 1.25rem; /* War 1.1rem */
    line-height: 1.6;
    margin-bottom: 1.2rem;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 8px;
}


/* ==========================================
   7. MOBILE ANPASSUNG
========================================== */
@media screen and (max-width: 1000px) {
    .main-column {
        width: 95vw;
        margin-top: -20vw;
    }
    
    .content-inner {
        padding: 0 20px;
    }
    
    /* Mobil auch etwas größer, aber passend zum Screen */
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.8rem; }
    p, li { font-size: 1.1rem; }
}
