/* ==========================================
   1. FONTS & GRUNDEINSTELLUNGEN
========================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,800&display=swap');

:root {
    --develey-green: rgb(0, 119, 52);
    --develey-yellow: rgb(255, 200, 46);
    --skew-angle: -2deg; 
    --container-width-desktop: 70vw; 
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/* LOGA CONTAINER RESETS (Wichtig!) */
.BW-WebPositionPage {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent;
    overflow: visible !important;
}

/* Wir müssen auch das MainPanel öffnen, falls es stört */
.BW-MainPanel {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* ==========================================
   2. HEADER BILD (Vollbild)
========================================== */
.header-wrapper {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-top: -20px;
    z-index: 1; 
}

.header-wrapper img.header-bg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding-bottom: 10vw; 
}


/* ==========================================
   3. MAIN CONTAINER (Zentriert & Angeschrägt)
========================================== */

.main-column {
    position: relative;
    z-index: 10;
    
    width: var(--container-width-desktop);
    
    /* --- DIE NEUE ZENTRIERUNG (Ignoriert Eltern-Breite) --- */
    left: 50%;
    /* Wir schieben ihn zur Mitte (left 50%) und dann um die Hälfte seiner Breite zurück (-50%) */
    /* Gleichzeitig wenden wir die Schräge (Skew) an */
    transform: translateX(-50%) skewY(var(--skew-angle));
    transform-origin: center center;
    
    margin-top: -12vw; /* Überlappung */
    margin-bottom: 50px;
    
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}


/* ==========================================
   4. SECTIONS
========================================== */

.skew-section {
    position: relative;
    padding: 40px 0;
}

.bg-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.bg-green {
    background-color: var(--develey-green);
    color: rgb(255, 255, 255);
}

.bg-yellow {
    background-color: var(--develey-yellow);
    color: rgb(0, 0, 0);
}

.skew-section.first {
    padding-top: 60px; 
}


/* ==========================================
   5. TEXT CONTENT (Randabstand & Gerade)
========================================== */

.content-inner {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    
    /* Text gerade rücken */
    transform: skewY(calc(var(--skew-angle) * -1));
    
    text-align: left;
    box-sizing: border-box;
    
    /* --- TEXT NÄHER AN DEN RAND --- */
    /* Hier stellen wir den Abstand ein. Vorher waren es ca. 40px+ */
    padding: 0 25px; 
}

/* Farben in grüner Box */
.bg-green .content-inner h1,
.bg-green .content-inner h2,
.bg-green .content-inner p,
.bg-green .content-inner li {
    color: rgb(255, 255, 255) !important;
    -webkit-text-stroke: 0px !important;
}


/* ==========================================
   6. TYPOGRAFIE
========================================== */

.intro-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
    margin-bottom: 0.5rem;
    display: block;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.1;
    color: var(--develey-green);
    text-transform: none;
    margin-top: 0;
    margin-bottom: 1rem;
    -webkit-text-stroke: 1px var(--develey-green);
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

p, li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}


/* ==========================================
   7. MOBILE ANPASSUNG
========================================== */
@media screen and (max-width: 1000px) {
    .main-column {
        width: 95vw;
        margin-top: -20vw;
    }
    
    .content-inner {
        padding: 0 20px;
    }
    
    h1 { font-size: 2rem; }
}
