/* ==========================================
   1. FONTS & GRUNDEINSTELLUNGEN
========================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,800&display=swap');

:root {
    --develey-green: rgb(0, 119, 52);
    --develey-yellow: rgb(255, 200, 46);
    --content-width: 1000px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow-x: hidden; /* Verhindert Scrollbalken durch Vollbreite */
    font-family: "Montserrat", sans-serif;
}

/* LOGA CONTAINER RESET: Wir öffnen den Standard-Container komplett */
.BW-WebPositionPage {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent;
    overflow: visible !important;
}

/* ==========================================
   HEADER WRAPPER (Bild + Weißer Keil)
========================================== */
.header-wrapper {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-top: -20px;
    margin-bottom: 0 !important; /* Kein Abstand nach unten! */
    overflow: hidden;
    z-index: 1;
}

.header-wrapper img.header-bg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /* Extra Platz unten im Bild lassen für den Schnitt */
    padding-bottom: 8vw; 
}

/* Der weiße Schnitt im Bild */
.header-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vw; /* Winkel der Schräge */
    background-color: rgb(255, 255, 255); /* Muss weiß sein */
    z-index: 5;
    /* Dreieck: Steigt von links unten nach rechts oben an */
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}


/* ==========================================
   TEXT ÜBERLAPPUNG (NEU)
========================================== */
/* Dieser Container zieht den Text garantiert nach oben */
.content-overlap {
    position: relative;
    z-index: 20; /* Liegt ÜBER dem weißen Schnitt */
    
    /* Zieht den ganzen Block massiv nach oben in das Bild rein */
    margin-top: -8vw !important; 
    
    text-align: left; /* Linksbuendig wie im Design */
    padding-right: 20px; /* Sicherheitspadding rechts */
}

/* Mobile Anpassung */
@media screen and (max-width: 800px) {
    .content-overlap {
        margin-top: -50px !important; /* Weniger Überlappung am Handy */
    }
    .header-wrapper::after {
        height: 50px;
    }
}


/* ==========================================
   4. TEXT STYLING
========================================== */

.intro-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.1;
    color: var(--develey-green);
    text-transform: none;
    margin-top: 0;
    margin-bottom: 1.5rem;
    -webkit-text-stroke: 1px var(--develey-green);
}

/* Grüne Box (angepasst an die Schräge) */
.angled-box,
div[style*="background-color: rgb(0, 119, 52)"] {
    background-color: var(--develey-green) !important;
    color: rgb(255, 255, 255) !important;
    padding: 3rem !important;
    margin-top: 40px;
    position: relative;
    /* Auch die Box bekommt eine leichte Schräge passend zum Header */
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
}

.angled-box h2, div[style*="background-color: rgb(0, 119, 52)"] h2 {
    color: rgb(255, 255, 255) !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    -webkit-text-stroke: 0px !important;
}
.angled-box p { color: rgb(255, 255, 255) !important; }


/* ==========================================
   5. MOBILE ANPASSUNG
========================================== */
@media screen and (max-width: 800px) {
    /* Am Handy weniger Überlappung, damit Titel nicht im Gesicht der Person ist */
    .content-overlap {
        margin-top: -15vw !important; 
        padding-top: 15vw;
        clip-path: polygon(0 8vw, 100% 0, 100% 100%, 0% 100%);
    }
    
    h1 { font-size: 2rem; }
    
    .header-wrapper img.header-bg {
        padding-bottom: 20vw; /* Mehr Platz unten am Bild lassen */
    }
}
