body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.log-panel {
  background-color: #ecf2fc;
  border: 1px solid red;
  margin: 0;
  filter: alpha(opacity=95);
  opacity: 0.95;
  z-index: 1000;
}
