/* Grundlegende Stile, die für alle Ansichten gelten */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif !important;
}

/* Tabellenanpassung für die mobile Ansicht */
@media screen and (max-width: 1000px) {
    /* Tabellen */
    table {
        width: 100% !important;
    }

    .BW-MainPanel h1 {
        font-size: 70% !important;
    }

}



.spinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: -0.125em;
	border: 0.25em solid currentColor;
	border-right-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
	width: 1rem;
	height: 1rem;
	border-width: 0.2em;
}

@keyframes spinner-grow {
	0% {
		transform: scale(0);
	}

	50% {
		opacity: 1;
		transform: none;
	}
}

.spinner-grow {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: -0.125em;
	background-color: currentColor;
	border-radius: 50%;
	opacity: 0;
	animation: 0.75s linear infinite spinner-grow;
}

.spinner-grow-sm {
	width: 1rem;
	height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
	.spinner-border,
	.spinner-grow {
		animation-duration: 1.5s;
	}
}
/* .BW-MainPanel .LG-RichTextContent {
	display: none;
} */
.BW-MainPanel {
	width: 100%;
	margin: 0 auto;
	max-width: 1260px !important;
}
.BW-WebPositionPage {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	background: #fff;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 6px !important;
}

.BW-WebPositionPage button:not(.react-datepicker__navigation) {
	padding: 0 1.25rem;
	color: #000;
	font-weight: 600;
	font-family: Verdana, sans-serif
	margin:center;
}

