
/* Einbindung der Google Font Figtree */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Globale Schriftart für alle Texte */
body, .BW-MainPanel, .BW-WebPositionPage, button, h1, h2, h3, p, span {
    font-family: 'Figtree', Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Überschriften */
.BW-MainPanel h1 {
    font-size: 40pt;   /* gewünschte Größe */
    font-weight: 900;  /* Extra Bold */
    color: #007734;
}

.BW-MainPanel h2 {
    font-size: 25pt;   /* gewünschte Größe */
    font-weight: 800;  /* Extra Bold */
}

.BW-MainPanel h3 {
    font-size: 12pt;   /* gewünschte Größe */
    font-weight: 400;  /* Normal */
}

/* Buttons */
.BW-WebPositionPage button:not(.react-datepicker__navigation) {
    padding: 0 1.25rem;
    color: #000;
    font-weight: 600;
    font-family: 'Figtree', Verdana, sans-serif;
    margin: center;
}

/* Tabellenanpassung für die mobile Ansicht */
@media screen and (max-width: 1000px) {
    table {
        width: 100% !important;
    }

    .BW-MainPanel h1 {
        font-size: 70% !important;
    }
}

/* Spinner Styles (unverändert) */
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: none;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
