
/* ==========================================
   FONT IMPORTS
========================================== */

/* Figtree für Bodytext */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Open Sans für Headlines */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* ==========================================
   GLOBAL TYPOGRAPHY
========================================== */

/* Body & allgemeine Texte: Figtree */
body, 
.BW-WebPositionPage, 
button, 
p, 
span {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* ==========================================
   OPEN SANS HEADLINE FONT
========================================== */

.open-sans-headline {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Alle Überschriften automatisch Open Sans */
.BW-MainPanel h1,
.BW-MainPanel h2,
.BW-MainPanel h3 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 75;
}


/* ==========================================
   RESPONSIVE HEADLINE STYLES
========================================== */

.BW-MainPanel h1 {
    font-size: clamp(40pt, 10vw, 130pt);
    font-weight: 800;
    color: rgb(0, 119, 52);
    
    text-shadow:
        /* Diagonal */
        -0.4px -0.4px 0 rgb(0,119,52),
         0.4px -0.4px 0 rgb(0,119,52),
        -0.4px  0.4px 0 rgb(0,119,52),
         0.4px  0.4px 0 rgb(0,119,52),

        /* Horizontal + Vertikal */
        -0.4px  0     0 rgb(0,119,52),
         0.4px  0     0 rgb(0,119,52),
         0     -0.4px 0 rgb(0,119,52),
         0      0.4px 0 rgb(0,119,52);

}

.BW-MainPanel h2 {
    font-size: clamp(32pt, 8vw, 110pt);
    font-weight: 800;
    color: rgb(0, 119, 52);
}

.BW-MainPanel h3 {
    font-size: clamp(18pt, 3vw, 30pt);
    font-weight: 400;
}

.BW-MainPanel p {
    font-size: clamp(16pt, 2.5vw, 30pt);
    font-weight: 200;
}


/* ==========================================
   FULL WIDTH LAYOUT FÜR BILDER & BACKGROUNDS
========================================== */

/* VOLLBREITE SEKTION MIT BACKGROUND */
.fullwidth-section {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: clamp(2rem, 6vw, 6rem) 0;
}

/* Textcontainer in der Mitte */
.fullwidth-section .content-wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 3rem;
    text-align: center;
}

/* VOLLBREITE BILDER */
img.fullwidth-image {
    display: block;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: auto;
}


/* ==========================================
   BUTTONS
========================================== */

.BW-WebPositionPage button:not(.react-datepicker__navigation) {
    padding: 0 1.25rem;
    color: #000;
    font-weight: 900;
    font-family: "Figtree", sans-serif;
    margin: center;
}


/* ==========================================
   TABLE RESPONSIVENESS
========================================== */

@media screen and (max-width: 2000px) {
    table {
        width: 100% !important;
    }
}


/* ==========================================
   SPINNER STYLES
========================================== */

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: none;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
}


/* ==========================================
   CONTAINER FIXES
========================================== */

.BW-MainPanel {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px !important;
}

.BW-WebPositionPage {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    background: #fff;
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 6px !important;
}
